* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.slideshow {
  position: absolute;
  height:50%;
  width: 50%;
  overflow:hidden;
  right: 50px;
  top: 25%;
}
.slideshow__list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0;
  height: 100%;
  transition: all 0.6s cubic-bezier(0.36, 0.245, 0.155, 0.99);
}
.slideshow__item {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.slideshow__image {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slideshow__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  color: black;
  font-size: 1.25em;
  cursor: pointer;
  background-color: none;
  opacity: 0.5;
}
.slideshow__nav.is-inactive {
  opacity: 0.5;
  cursor: default;
}
.slideshow__nav.is-active {
  opacity: 1;
}
.slideshow__nav svg {
  display: block;
}
.slideshow__nav--next {
  right: 0;
}
.slideshow__nav--prev {
  left: 0;
}

/* foreground */
div#parallax-bg-1{
	position: fixed;
    display: block;
    margin: 0 auto;
	width: 100%;
    height: 100%;
	top: 0;
	z-index: 1;
    
}
/* background middle layer*/
div#parallax-bg-2{
	position: fixed;
	width: 100%;
	top: 0; 
	z-index: 2;
}
/* background layer */
div#parallax-bg-3{
        position: relative;
		display: block;
		text-decoration: none;
		color: #010004;
		background: none;
		font-size: 50px;
         z-index: 5;
}
/* foreground */
div#parallax-bg-3 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	overflow:hidden;
    height: 380vw;
}
div#bg-3-1{
	background:none;
	width:529px;
	height:757px;
	top:-100px;
	right:100px;
}
div#bg-3-2{
	background:none;
	width:100%;
	height:auto;
	top:20px;
    margin: auto
}
div#bg-3-3{
	background:none;
	width:100%;
	height:auto;
	top:150vh;
	margin:auto
    
}
div#bg-3-4{
	background:none;
	width:1104px;
	height:684px;
	top:2800px;
	right:0px;
}
/* middle layer clouds */
div#parallax-bg-2 div{
	background:none;
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
}

div#bg-2-1{
	top:100px;
	left:-310px;
}
div#bg-2-2{
	top:270px;
	right:-70px;
}
div#bg-2-3{
	top:870px;
	left:-300px;
}
div#bg-2-4{
	top:1120px;
	right:-130px;
}
div#bg-2-5{
	top:1620px;
	left:140px;
}
div#bg-2-6{
	top:100px;
	left:100px;
}


/*background layer clouds */
div#parallax-bg-1 div{
	background-repeat:no-repeat;
	position:absolute;
	display:block;
    margin:auto;
}
div#bg-1-1{
    position:relative;
    display: block;
	top:90vh; 
    left: 25vw;
}
div#bg-1-2{
    position: relative;
    display: block;
	top:200vh;
    left: 25vw;
    
}
div#bg-1-3{
    position: relative;
    display: block;
    left: 25vw;
    right: 25vw;
	top:100vh;

}
div#bg-1-4{
    position: relative;
    display: block;
	top:250vh;
    left: 25vw;
    right: 25vw;
}
div#bg-1-5{
    position: relative;
    display: block;
	top:350vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.shoes{
    width: 100%;
    height: auto;
    max-width: 600px;
    min-width: 100px;
}
.hidi{
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 250px;
}

h3{
 font-family:"Neue Haas Grotesk Display Pro";
font-weight:40;
font-size: 20px;
color:black;
z-index: 200;    
}

#port1{
 position: absolute;
 display: block;
 width: 100%;
 height: auto;
 right: 25%;
 top: 13%;
}
.port{
    position: relative;
    display: block;
    margin: auto;
    width: 25%;
    height: auto;
    max-width: 350px;
    min-width: 300px;
}
#port2{
 position: absolute;
 display: block;
 width: 100%;
 height: auto;
 left: 30%;
 top: 0%;
}
.port3{
    position: relative;
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    min-width: 600px;
    max-width: 800px;
}

a{
text-decoration: none;
z-index: 100;
cursor: pointer;
color: white;
}

h5{
color:white;
text-decoration: none !important;
text-decoration-line: none;
}
#home2{
		position: absolute;
		top: 25%;
		right: 100px;

}
#home3 {
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: auto;
    min-height: 300px;
    max-height: 400px;
}

.boom {
    
    font-family: "helvetica";
    font: #010004;
    font-size: 18px;
}
.sbux{
    position: absolute;
    top: 2%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: auto;
    min-height: 300px;
    max-height: 400px;
}
.swm{
position: absolute;
top: 80px;
padding-left: 5%;
width: 30%;
z-index: 100;
}
.swm2{
position: absolute;
top: 80px;
padding-left: 38%;
width: 30%;
z-index: 100;
}
.OAM{
position: absolute;
top: 80px;
padding-left: 5%;
width: 30%;
z-index: 100;
}
.OAM2{
position: absolute;
top: 80px;
padding-left: 38%;
width: 70%;
z-index: 100;
}
.adi{
  position: relative;
  margin: 150px auto;
  
    font-family: "helvetica";
    font: #010004;
    font-size: 18px;
}

/*
.bio img{
    width:500px;
    height:auto;
    position: relative;
    top: 0; bottom:0; left:40vw; right:0;
    margin:auto;
    padding-left: 1vh;
    padding-top: -50vh;
}
*/
                    
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:right;
    padding-top: 5%;
}

.sidenav a {
    font-family: "helvetica";
    font-weight: 300;
    padding-top: 5%;
    padding-right: 6%;
    text-decoration: none;
    font-size: 40px;
    color: black;
    display: block;
    transition: 0.3s;

}

.sidenav .closebtn {
    position: absolute;
    top: -1%;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}
.submenu a{
    padding: 30px;
    
}
/*
new new
*/
.raybell{
 position: absolute;
 height: 90%;
 width: 90%; 
 text-align: center;
  float: left;
  left:5%;
  top: 5%;
  z-index: 100;
  overflow:auto;
  background-color: white;
}

  #thomas{
  position:absolute;
  left: 35%;
  transform: translate(-50%, -50%); 
   width: 55%;
   max-width: 1300px;
   height:auto;
   z-index: 100;
   padding-top: 45%;
   overflow: hidden;
}

 .thomasraybell{
  position:absolute;
  left: 83%;
  transform: translate(-50%, -50%); 
  width:35%;
  height:auto;
   z-index: 110;
   text-align: left; 
   padding-top: 57%;
}
.thomasraybelltext{
   position:absolute;
   padding-top: 35%;
  left:-50%;
  transform: translate(-50%, -50%); 
   width:220%;
   height:auto;
   z-index: 110;
   text-align: left;
}
  .foot{
    position:fixed;
    left: 5%;
    z-index: 100;
    top: 95%;
}
  .foot2{
    position:fixed;
    right: 5%;
    top: 95%;
    z-index: 100;
}
.reveal {
  opacity: 0;
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
  transition: opacity 0.8s, -webkit-transform 2s;
  transition: opacity 0.8s, transform 2s;
  transition: opacity 0.8s, transform 2s, -webkit-transform 2s;
}
.reveal_visible {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.box {
  margin: 2%;
  border-radius: 10px;
  display: inline-block;
}

.big{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container{
 position: absolute;
 height:264vw;
 width:90vw;
 background-color: white;
 left: 5%;
}
.container2{
 height:30vw;
 width:90vw;
 
}
.container3{
 position: absolute;
 left: 3%;
 height: 20%;
 width: 95%; 
 text-align: center;
  float: left;
  padding-top: 38%;
}

  #image1{
  position:absolute;
  left: 20%;
  transform: translate(-50%, -50%); 
   width:30%;
   height:auto;
   z-index: 200;
   padding-top: 10%;
}
 .text1{
  text-align: left;
  position:absolute;
  left: 20%;
  transform: translate(-50%, -50%); 
   width:30%;
   height:auto;
   padding-top: 32%;
   z-index: 150;
}
 #image3{
  position:absolute;
  left: 75%;
  transform: translate(-50%, -50%); 
   width:35%;
   height:auto;
   padding-top: 32%;
   z-index: 300;
}
 .text2{
  text-align: left;
  position:absolute;
  left: 73%;
  transform: translate(-50%, -50%); 
   width:30%;
   height:auto;
   padding-top: 54%;
   z-index: 150;
}
.text3{
  text-align: left;
  position:absolute;
  top:30vw;
  left: 73%;
  transform: translate(-50%, -50%); 
   height:auto;
   z-index: 100; 
}
 .container4{
 position: absolute;
 height: 15%;
 width: 100%;
 top:70vw;
 text-align: center;
  float: left;
  padding-top: 10%;
  z-index: 100;
 }

 #image4{
  position:absolute;
  left: 75%;
  transform: translate(-50%, -50%); 
   width:40%;
   height:auto;
   z-index: 300;
   top: 13vw;
}
  .text3{
  text-align: left;
  position:absolute;
  top:22vw;
  left:65%;
  transform: translate(-50%, -50%); 
   height:auto;
   z-index: 100; 
}
#text4{
  position:absolute;
  float: left;
  left: 28%;
  transform: translate(-50%, -50%);
  font-size: 3.5em;
}
.container5{
 position: absolute;
 height: 28%;
 width: 50%;
 top:95vw;
 text-align: center;
  float: left;
  padding-top: 30%;
  z-index: 100;
}
 #image5{
 position:absolute;
  left: 53%;
  transform: translate(-50%, -50%); 
   width: 40vw;
   height:auto;  
   z-index: 300;
}
 .text6{
   position:absolute;
   text-align: center;
  top:32vw;
  left: 27%;
  transform: translate(-50%, -50%);
   height:auto;
   z-index: -5;
   width: 40%;
}
#text5{
  position:absolute;
  text-align: center;
  top:55vw;
  float: left;
  left: 45%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.container6{
 position: absolute;
 height: 25%;
 width: 50%;
 top:115vw;
 padding-top: 40%;
 text-align: center;
  float: left;
  left:50%;
}
 #image6{
  position:absolute;
  float: left;
  left: 52%;
  transform: translate(-50%, -50%); 
   width: 75%;
   height:auto;
   z-index: 300;
}
 .text7{
  position:absolute;
  text-align: center;
  left: 28%;
  transform: translate(-50%, -50%); 
   width: 30%;
   height:auto; 
   z-index: 100;
   top:27vw
}
 #image2{
  position:absolute;
  left: 44%;
  transform: translate(-50%, -50%); 
   width:30%;
   height:auto;
   z-index: 300;
   top:50vw;
}
 .text8{
  position:absolute;
  top: 53vw;
  left: 41%;
  transform: translate(-50%, -50%); 
   width:40%;
   height:auto; 
   text-align: center;
   z-index: 150;
}
.container7{
 position: absolute;
 height: 10%;
 width: 100%; 
 text-align: center;
  float: left;
  padding-top: 10%;
  z-index: 90;
  top:210vw;
}
.container8{
 position: absolute;
 height: 5%;
 width: 50%;
  float: left;
  z-index: 90;
  top:255vw;
}
#image10{
  position:absolute;
  float: left;
  left: 50%;
  transform: translate(-50%, -50%); 
   width: 90%;
   height:auto; 
   z-index: 300;
   padding-bottom: 25%;
}
.text12{
  position:absolute;
  text-align: center;
  left: 19%;
  transform: translate(-50%, -50%); 
   width: 30%;
   height:auto;
   z-index: 100;
   top:2vw; 
}
#image7{
  position:absolute;
  float: left;
  left: 65%;
  transform: translate(-50%, -50%); 
   width: 30%;
   height:auto;
   z-index: 300;
   top: 10vw;
}
 .text9{
  position:absolute;
  float: left;
  left: 65%;
  transform: translate(-50%, -50%); 
   width: 30%;
   height:auto;
   text-align: left;
   z-index: 100;
   top:22vw;
   
}

#image8{
  position:absolute;
  float: left;
  left: 20%;
  transform: translate(-50%, -50%); 
   width: 20%;
   height:auto; 
   z-index: 300;
   padding-bottom: 25%;
}
 .text11{
  position:absolute;
  float: left;
  left: 20%;
  transform: translate(-50%, -50%); 
   width: 20%;
   height:auto; 
   z-index: 100;
}
.thesum5{
  position: absolute;
 height: 70vw;
 width: 100%; 
 text-align: center;
  float: left;
 z-index: 100;
 top:45vh;
}
#thesum6{
   position:absolute;
  left: 25%;
  transform: translate(-50%, -50%); 
   width:25%;
   height:auto;
   z-index: 100;
}
#thesum7{
   position:absolute;
  left: 75%;
  transform: translate(-50%, -50%); 
   width:25%;
   height:auto;
   z-index: 100; 
}
.ACHS1{
  position: absolute;
 height: 20vw;
 width: 100%; 
 text-align: left;
  float: left;
 z-index: 100;
 top:5vw;
}
.agnecyrole{
  position: absolute;
 height: 20vw;
 width: 100%; 
 text-align: center;
  float: left;
 z-index: 100;
 padding-top:20vw;
}
.ACHS50{
  position: absolute;
 height: 20vw;
 width: 100%; 
 text-align: center;
  float: left;
 z-index: 100;
 top:30vw;
}
#ACHS2{
  position:absolute;
  left: 25%;
  transform: translate(-50%, -50%); 
   width:25%;
   height:auto;
   z-index: 100; 
   top:40vw;
   padding-top: 20vw;
}
#ACHS52{
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:38%;
   height:auto;
   z-index: 100; 
   top:35vw;
   padding-top: 20vw;
}
#ACHS55{
  position: absolute;
 width: 50%; 
 text-align: left;
  float: left;
 z-index: 100;
top:60vw;
left:20%
}
#ACHS3{
   position:absolute;
  left: 75%;
  transform: translate(-50%, -50%); 
   width:25%;
   height:auto;
   z-index: 100; 
     top:44vw;
    padding-top: 15vw;
}
.ACHS4{
  position: absolute;
 height: 30vw;
 width: 50%; 
 text-align: left;
  float: left;
 z-index: 100;
top:35vw;
}
#ACHS5{
  position: absolute;
 width: 50%; 
 text-align: left;
  float: left;
 z-index: 100;
top:7vw;
}
.ACHS10{
  position: absolute;
 height: 30vw;
 width: 50%; 
 text-align: left;
  float: left;
 z-index: 100;
top:80vw;
}
.ACHS15{
  position: absolute;
 left:25%;
 height: 30vw;
 width: 50%; 
 text-align: left;
 z-index: 100;
 top:65vw;
}
.ACHS20{
  position: absolute;
 height: 30vw;
 width: 50%; 
 text-align: left;
  float: left;
 z-index: 100;
 top:185vw;
 left:25%
}
.pra{
  position: absolute;
 height: 70vw;
 width: 100%; 
 text-align: center;
  float: left;
 z-index: 100;
}
.pratitle{
   position:absolute;
   padding-top: 20%;
   left:50%;
  transform: translate(-50%, -50%); 
   width:100%;
   height:5%;
   z-index: 120;
   text-align: left;
   margin-left: 3%;
}
.prarole{
   position:absolute;
   top: 50%;
   left:50%;
  transform: translate(-50%, -50%); 
   width:100%;
   height:5%;
   z-index: 120;
   text-align: left;
   margin-left: 3%;
}
#prarole1{
   position:absolute;
   padding-top: 65%;
   left:50%;
  transform: translate(-50%, -50%); 
   width:100%;
   height:5%;
   z-index: 120;
   text-align: left;
   margin-left: 3%;
}
#prarole3{
   position:absolute;
   padding-top: 65%;
   left:50%;
  transform: translate(-50%, -50%); 
   width:100%;
   height:5%;
   z-index: 120;
   text-align: left;
   margin-left: 3%;
}
#pra1{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:50%;
   height:auto;
   z-index: 100;
   top:65vw;
}
#pra2{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:50%;
   height:auto;
   z-index: 100;
   top: 120vw;
}
#pra3{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:50%;
   height:auto;
   z-index: 100;
   top: 165vw;
}
#pra35{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:30%;
   height:auto;
   z-index: 100;
   top: 200vw;
}
#prarole2{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:50%;
   height:auto;
   z-index: 100;
   top: 225vw;
}
#pra4{
   position:absolute;
  left: 50%;
  transform: translate(-50%, -50%); 
   width:50%;
   height:auto;
   z-index: 100;
   top: 255vw;
}
/*
something new


#slider {
  position: relative;
  overflow: hidden;
  margin: 10px auto 0 auto;
  border-radius: 4px;
  padding-top: -50px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 750px;
  background: #F0F0F0;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 80;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #F0F0F0;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 2;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  font-size: 100px;
  font-family: "agane";
  color:#010004;
}





.newEquipList-left { ;
	 text-align: center;
}
	#newEquipHover {
		position: relative;
		padding: 50px;
		border: 0px dotted #999;
		background: none;
		margin-bottom: 20px;}
	#newEquipHover a {
		display: inline;
		padding: 20px 20px 20px 5px;
		text-decoration: none;
		color: black;
		background: none;
		font-size: 8vw;
        font-family:"Agane";}
	#newEquipHover a:hover {
		color: #000ad1;
		text-decoration: none;}
	#newEquipHover a span{
		display: none;}
	#newEquipHover a:hover span {
		display: block;
		position: fixed;
		top: 20vw;
		left: 415px;
        z-index: -50;
		}

something else
*/
        h2{
         font-family:"Neue Haas Grotesk Display Pro";
         color: black;
         font-weight: 400;
         font-size: 2vw;
         text-align: left;
        }
.mojo{
position: relative;
padding-top: 20px;
padding-left: 100px;
width: 40%;
z-index: 100;
}

.newEquipList {
    position: absolute;
		height: 250px;
		margin: 20px auto 20 auto;
    padding-left: 100px;
    }
	.newEquipList-left, .newEquipList-Right {
        position: relative;
        padding-top: 400px;
        width: 100%;
        z-index: 100;
		}
	#newEquipHover, #newEquipHover-side {
		position: relative;
		padding: 9px;
		border: 0px dotted #999;
		background: none;
		margin-bottom: 20px; }
	#newEquipHover a, #newEquipHover-side a {
        font: "Neue Haas Grotesk Display Pro";
		display: inline;
		padding: 50px -20px 2px 9px;
		text-decoration: none;
		color: black;
        font-weight: 345;
		background: none;
		font-size: 3.5vw;}
	#newEquipHover a:hover, #newEquipHover-side a:hover {
		text-decoration: none;}
	#newEquipHover a span, #newEquipHover-side a span {
		display: none;}
	#newEquipHover a:hover span {
		display: inline;
		position: fixed;
		top: 20vh;
		right: 100px;}
	#newEquipHover a:hover span img, #newEquipHover-side a:hover span img {
		width: auto;
		height: 600px;
}
	#newEquipHover-side a:hover span {
		display: inline;
		position: absolute;
		top: 0;
		left: 236px;
		padding: 15px 15px 5px 0;}
		box-shadow: 0px 1px 30px rgba(50, 50, 50, 0.62);}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

  
  .navigation li:last-of-type a {
    border-bottom: none;
    }}
  .line{
    position:fixed;
    right: 5%;
    top: 1%;
    z-index: 100;
}
.line2{
    position:fixed;
    left: 4%;
    z-index: 100;
}
    @media (max-width: 768px) {
   h1 {
        font-size: 11vw;
        padding-top: 15vh;
    } 
        h2 {
            position: absolute;
            font-size: 5em;
            padding-top: 30px;
            margin-left: 3%;
        }
        h4{
        font-size: 11px;
        color: black !important;
        }
        .boom{
            text-align: left;
            padding-top: 10px;
        }
        .moviepass{
        left:54%;
        top:6%
        }
       .moviepass2{
        top:60vw;
        text-align: left;
        padding-left:10px;
        padding-right: 10px;
        font-size: 12px;
        left:21%;
        }
    div#parallax-bg-3 div{
           height: 420vh;
        }
       div#parallax-bg-3{
        font-size: 20px;
        }
       div#bg-3-2{
        width: 100%;
        height: 100%;
        }
        div#bg-1-1{
        top: 70vh;
        left: 1px !important;
        }
        div#bg-1-2{
        top: 150vh;
        left: 1px !important;
        }
        div#bg-3-3{
        top:90vh;
    }
        div#bg-1-3{
        top: 90vh;
        }
        div#bg-1-4{
        top: 180vh;
        }
        div#bg-1-5{
        right:15px;
        top: 200vh;
        }

        #home2{
        top: 55%;
        right: 0;
        width: 100%;
}
        #home3{
            top: 250px !important;
        }
        #port1{
        top: 50% !important;
        }
        .port{
        min-width: 200px !important;
        min-height: 100% !important;
        right: 5px;
        }
        #port2{
        top: 0%;
        }
        .port3{
        min-width:200px !important;
        min-height:100% !important;
        }
        h4{
        font-size: 18px;
        }
        .container{
         background-color: white; !important;
         height:1140vw;
         width:auto;
         left: 10%;
}
        body{
        background: white !important;
        }
        .big{
        position: absolute;
        text-align: center;
        top:1%;
        float: none;
        transform: none;
        left:60%
        }
        h1{
        color:black !important;
        font-family:"Avenir Next";
        font-size: 20vw;
        }
        h2{
        font-size: 6vw !important;
        }
        .container3{
         height:15%; 
         float: none;
         top: 80vw;
         left:33%
        }
        #image1{
        text-align: center;
        top:25vw;
        width:100vw;
        left: 57%;
        }
        .text1{
        width: 100vw;
        left:80%;
        top:58vw;
        }
        #image3{
        top:105vw;
        width: 90%;
        left: 57%;
        }
        .text2{
        width:100vw;
        left:80%;
        top:125vw;
        z-index: 100;
        }
        .container4{
         height:30%; 
         float: none;
         top: 270vw;
         left: 33%;
        }
        #image4{
        top:40vw;
        width: 90%;
        left:55%;
        z-index: 100;
        }
        .text3{
        width:100vw;
        left:82%;
        top:65vw;
        z-index: 100;
        }
        #text4{
        font-size: 40px;
        float: none;
        left: 55%;
        top:120vw;
        }
        .container5{
        height: 20%;
        width: 100vw;
        float:none;
        top:455vw;
        left: 33%;
        }
        #image5{
        width: 90%;
        top: 40vw;
        left:50%;
        }
        .text6{
        width:100vw;
        left:50%;
        top:117vw;
        z-index: 100;
        }
        #text5{
        top:196vw;
        float:none;
        left:50%;
        }
        .container6{
        height: 20%;
        width: 100vw;
        float:none;
        top:710vw;
        left:33%;
        }
        #image6{
        width: 90%;
        left:50%;
        top:81vw;
        }
        .text7{
        width:100vw;
        left:50%;
        top:155vw;
        z-index: 100;
        }
        #image2{
        width:90%;
        left:50%;
        top:200vw;
        }
        .text8{
        width:80vw;
        left:49%;
        top:215vw;
        z-index: 100;
        }
        .container7{
        height: 20%;
        width: 100%;
        float: none;
        top:995vw;
        left:33%;
        }
        #image7{
        width:90%;
        left:50%;
        top:20vw;
        }
        .text9{
        width:100vw;
        left:75%;
        top:61vw;
        z-index: 100;
        }
        #image8{
        width:50%;
        left:50%;
        top:150vw;
        }
        .text11{
        width:100vw;
        left:50%;
        top:170vw;
        z-index: 100;
        }
        .container8{
        height: 20%;
        width: 100%;
        float: none;
        top:1250vw;
        left:33%;
        z-index: 300;
        }
        #image10{
        width:50%;
        left:50%;
        top:10vw;
        }
        .text12{
        width:100vw;
        left:50%;
        top:15vw;
        z-index: 100;
        }
        .start{
        position: absolute;
        text-align: center;
        left:10%;
        }
        .ACHS1{
         height:70%; 
         float: none;
         top: 11vw;
         text-align: left !important;
        }
        #ACHS2{
        width:100%;
        left:50%;
        top:140vw;
        }
        #ACHS3{
        width:100%;
        left:50%;
        top:230vw;   
        }
        .ACHS4{
        width:80vw;
        top:255vw;
        z-index: 100;
        }
        .ACHS10{
        top:220vw;  
        }
        .ACHS15{
        top:275vw;
        width:95vw;
        height: auto;
        left:2%;
        }
        .agnecyrole{
        position: absolute;
        padding-top: 15%;
        top:25%;
        text-align: left;
        left:1%
        }
        .ACHS50{
        top:70vw;
        }
        #ACHS52{
        top:105vw;
        width: 90%;
        left:47%;
        }
        #ACHS55{
        top:145vw;
        width:90%;
        left:5%
        }
        .ACHS20{
        top:350vw;
        width: 90%;
        left:2%;
        }
        #pra1{
        top: 147vw;
        width: 100%;
        }
        #pra2{
        top:270vw;
        width: 100%;
        }
        #pra3{
        top:370vw;
        width: 100%;
        }
        #pra35{
        top:470vw;
        width: 100%;   
        }
        #pra4{
        top:610vw;
        width:100%;
        }
        #prarole2{
        top:545vw;
        width: 100%;
        }
        #pratitle{
         position: absolute;
         top: 20%;
        }
        #prarole{
         position: absolute;
         padding-top: 115%;
        }
        #prarole1{
         position: absolute;
         padding-top: 165%;
        }
        #prarole3{
         position: absolute;
         padding-top: 115%;
        }

      #thomas{
      left: 52%; 
       width: 85%;
       padding-top: 105%;
}

     .thomasraybell{
      left: 28%;
      width:35%;
       padding-top: 120%;
}
        .thomasraybelltext{
           padding-top: 530%;
           left:100%;
           width:200%;
           height:auto;
}
        h3{
        font-size: 21px !important;
        color: black;
        margin-left: 3%;
        }
        h5{
        color: black !important;
        }
      a{
        text-decoration: none;
        color: black;
        }
    .line{
    position:fixed;
    right: 5%;
    top: 2%;
    z-index: 100;
    color: black;
    font-size: 70%;
}
        .sidenav a {
        padding-top: 15%
        }
        .sidenav .closebtn {
        top:-7%;  
        }
       .foot{
        position:fixed;
        left: 5%;
        z-index: 100;
        top: 93%;
    }
        .foot2{
        position:fixed;
        left: 5%;
        top: 98%;
        z-index: 100;
    }
        .navigation{
        background: white !important;
        }
        .mojo{
        position: relative;
        padding-top: 40px;
        padding-left: 20px;
        width: 65%;
        z-index: 100;
        }
        .newEquipList {
        height: 240px;
		margin: 20px auto 20px auto;
        padding-left: 20px;
        }
        #newEquipHover a, #newEquipHover-side a {
        font-size: 21px;
        font-weight: 350;
        }
        li {
        padding-right: 10px !important;
        z-index: 100;
        float:none;
        }
        .OAM{
        width: 95%;
        }
        .OAM2{
        top: 350px;
        padding-left:5%;
        width: 100%;
        }
        .swm{
        width: 95%;
        }
        .swm2{
        top: 450px;
        padding-left:5%;
        width: 100%;
        }
        .slideshow {
          position: absolute;
          height:70%;
          width: 70%;
          overflow:hidden;
          top: 60%;}
        .slideshow__nav--next {
        right: 10px;
}
        .slideshow__nav--prev {
        left: 0;
}
        
}

    

